@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";

body {
  overflow: hidden;
  margin: 0;
}

#word {
  font-family: 'Fredoka', sans-serif;
  font-size: 10vh;
  position: absolute;
  margin: 10px;
  color: #fc0;
  -webkit-text-stroke: 0.15vh #c0f;
  z-index: 10;
}
